body{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    background:
      url(images/bg-top.svg) no-repeat top right fixed,
      url(images/bg-bottom.svg) no-repeat bottom left fixed;
      background-color: hsl(240, 78%, 98%);
  }
  .attribution {
    text-align: center;
    display: flex;
    justify-content: space-around;
    color:white;
    align-items: center;
    font-size: 15px;
    display:flex;
  }
  .attribution a {
    color: hwb(228 24% 36%);
  }
  .heading{
    text-align: center;
    color: hsl(234, 14%, 74%);
    margin-top: 2%;
  }
  .mainheading{
    text-align: center;
    color: hsl(231, 3%, 49%);
    margin-top: 5%;
  }
  .container{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:4%;
  }
  .pricingCard{
    width: 70vw;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  .divider{
    width:70%;
    color: hsl(234, 14%, 74%);
  }
  button{
    width:80%;
    background-color: white;
    color: hwb(228 51% 7%);
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    margin:2% 5% 5% 5%;
  }
  .middle{
    padding-top: 3vh;
    padding-bottom: 3vh;
    text-align: center;
    justify-content: space-around;
    color:white;
    align-items: center;
    width:30%;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 10px;
    box-shadow: 0 0.6rem 1.6rem #b3b5c6;
  }
  .price{
    font-size: 60px;
    text-align: center;
  }
  .box-heading{
    font-size: 15px;
  }
  .basic{
    width:30%;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0.6rem 1.6rem #b3b5c6;

  }
  .master{
    width:30%;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0.6rem 1.6rem #b3b5c6;

  }
  .basicdivider{
    color: hsl(234, 14%, 74%);
    width: 275px;
  }
  .basicButton{
    width: 80%;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color:white;
  }
  .toggle {
    position : relative ;
    display : inline-block;
    width : 60px;
    height : 32px;
    background-color:hsl(240, 2%, 64%);
    border-radius: 30px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: -10px;
    cursor: pointer;
}
.toggle:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    top: 1px; 
    left: 1px;
    transition:  all 0.5s;
}
.checkbox:checked + .toggle::after {
    left : 30px; 
}
.checkbox:checked + .toggle {
    background-color: hsl(236, 72%, 79%);
}
.checkbox { 
    display : none;
}
@media (max-width: 1200px){
  .price{
    font-size: 55px;
  }
}
@media (max-width: 1050px){
  .price{
    font-size: 50px;
  }
}
@media (max-width: 950px){
  .price{
    font-size: 45px;
  }
}
@media (max-width: 850px){
  .price{
    font-size: 40px;
  }
}
@media (max-width: 750px){
  .container{
    justify-content: center;
  }
  .pricingCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .basic{
    width:80%;
    margin-top:8vh;
  }
  .middle{
    width:80%;
    margin-top:5vh;
  }
  .master{
    width:80%;
    margin-top: 5vh;
  }
}